---
import json from '../static/collection.json';
import { groupCollectionsByTime } from '../helpers/collections';
import { TimeDirectories } from '../components/TimeDirectories'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const date = new Date().toISOString();
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/globals.css")}>
  </head>
  <body>
    <main>
      <TimeDirectories updateDate={date} collections={json} client:visible />
    </main>
  </body>
</html>
